@model IEnumerable<Controle_Ativos.ViewModel.ColaboradorViewModel>

@{
    ViewData["Title"] = "Lista de Colaboradores";
}
<link href="~/css/jquery.dataTables.css" rel="stylesheet" />
@section Scripts{
    @*<script src="~/js/Datagrid/datatables.bundle.js"></script>*@
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
}
<head>
    <title>
        Lista Colaboradores
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!-- CSS Files -->
    <link href="../assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h3 class="card-title ">Tabela Colaboradores</h3>
                        <p>
                            <a type="button" class="btn btn-primary" asp-action="Create">Novo Registro</a>
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="tblIndex">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Nome)
                                        </th>
                                        @*<th>
                                                @Html.DisplayNameFor(model => model.CPF)
                                            </th>*@
                                        <th>
                                            @Html.DisplayNameFor(model => model.Cargo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        @*<th>
                                                @Html.DisplayNameFor(model => model.DataNascimento)
                                            </th>*@
                                        @*
                                            <th>
                                                @Html.DisplayNameFor(model => model.Celular)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Endereço)
                                            </th>*@
                                        <th>
                                            @Html.DisplayNameFor(model => model.Telefone)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Cliente)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count(); i++)
                                    {

                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => @Model.ElementAt(i).Nome)
                                            </td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.CPF)
                                                </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => @Model.ElementAt(i).Cargo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => @Model.ElementAt(i).Email)
                                            </td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.DataNascimento)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Celular)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Endereço)
                                                </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => @Model.ElementAt(i).Telefone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => @Model.ElementAt(i).Cliente.Nome)
                                            </td>
                                            <td>
                                                <a class="button" onclick="ativarModal(this)" data-modal="#modal-edit-container--@i">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <a class="button" data-toggle="modal" data-target="#modal-details-container--@i" asp-action="Details" asp-route-id="@Model.ElementAt(i).Id">
                                                    <i class="material-icons">plagiarism</i>
                                                </a>
                                                <a class="button" onclick="ativarModal(this)" data-modal="#modal-delete-container--@i">
                                                    <i class="material-icons">delete</i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Details-->
    @for (int i = 0; i < Model.Count(); i++)
    {
        <div class="modal" id="modal-details-container--@i" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Detalhes</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>x</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        Nome:  <span>@Model.ElementAt(i).Nome</span><br />
                        Data de Nascimento: <span>@Model.ElementAt(i).DataNascimento</span><br />
                        Email:  <span>@Model.ElementAt(i).Email</span><br />
                        Cargo: <span>@Model.ElementAt(i).Cargo</span><br />
                        CPF: <span>@Model.ElementAt(i).CPF</span><br />
                        Celular: <span>@Model.ElementAt(i).Celular</span><br />
                        Telefone: <span>@Model.ElementAt(i).Telefone</span><br />
                        Cliente: <span>@Model.ElementAt(i).Cliente.Nome</span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal edit-->
        <div class="custom-modal-container" id="modal-edit-container--@i">
            <div class="modal-background" onclick="desativarModal(this)"></div>
            <div class="content">
        <div class="modal-header">
            <h5 class="modal-title">Editar</h5>
            <button type="button" class="close" onclick="desativarModalPeloId('modal-edit-container--@i')">
                <span>x</span>
            </button>
        </div>

        <div class="modal-body">

            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.ElementAt(i).Nome" class="control-label"></label>
                    <input asp-for="@Model.ElementAt(i).Nome" class="form-control" />
                    <span asp-validation-for="@Model.ElementAt(i).Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ElementAt(i).CPF" class="control-label"></label>
                    <input asp-for="@Model.ElementAt(i).CPF" class="form-control" />
                    <span asp-validation-for="@Model.ElementAt(i).CPF" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ElementAt(i).Cargo" class="control-label"></label>
                    <input asp-for="@Model.ElementAt(i).Cargo" class="form-control" />
                    <span asp-validation-for="@Model.ElementAt(i).Cargo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ElementAt(i).Email" class="control-label"></label>
                    <input asp-for="@Model.ElementAt(i).Email" class="form-control" />
                    <span asp-validation-for="@Model.ElementAt(i).Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ElementAt(i).Telefone" class="control-label"></label>
                    <input asp-for="@Model.ElementAt(i).Telefone" class="form-control" />
                    <span asp-validation-for="@Model.ElementAt(i).Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ElementAt(i).ClienteId" class="control-label"></label>
                    <select asp-for="@Model.ElementAt(i).ClienteId" class="form-control" asp-items="@(new SelectList(@Model.ElementAt(i).Clientes, "Id", "Nome"))">
                        <option></option>
                    </select>
                    <span asp-validation-for="@Model.ElementAt(i).ClienteId" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="@Model.ElementAt(i).Id" />
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </form>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        </div>
        </div>
        </div>

        @*
            <div class="modal" id="modal-edit-container--@i" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title">Editar</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span>x</span>
                            </button>
                        </div>

                        <div class="modal-body">

                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="@Model.ElementAt(i).Nome" class="control-label"></label>
                                    <input asp-for="@Model.ElementAt(i).Nome" class="form-control" />
                                    <span asp-validation-for="@Model.ElementAt(i).Nome" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.ElementAt(i).CPF" class="control-label"></label>
                                    <input asp-for="@Model.ElementAt(i).CPF" class="form-control" />
                                    <span asp-validation-for="@Model.ElementAt(i).CPF" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.ElementAt(i).Cargo" class="control-label"></label>
                                    <input asp-for="@Model.ElementAt(i).Cargo" class="form-control" />
                                    <span asp-validation-for="@Model.ElementAt(i).Cargo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.ElementAt(i).Email" class="control-label"></label>
                                    <input asp-for="@Model.ElementAt(i).Email" class="form-control" />
                                    <span asp-validation-for="@Model.ElementAt(i).Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.ElementAt(i).Telefone" class="control-label"></label>
                                    <input asp-for="@Model.ElementAt(i).Telefone" class="form-control" />
                                    <span asp-validation-for="@Model.ElementAt(i).Telefone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.ElementAt(i).ClienteId" class="control-label"></label>
                                    <select asp-for="@Model.ElementAt(i).ClienteId" class="form-control" asp-items="@(new SelectList(@Model.ElementAt(i).Clientes, "Id", "Nome"))">
                                        <option></option>
                                    </select>
                                    <span asp-validation-for="@Model.ElementAt(i).ClienteId" class="text-danger"></span>
                                </div>
                                <input type="hidden" asp-for="@Model.ElementAt(i).Id" />
                                <div class="form-group">
                                    <input type="submit" value="Salvar" class="btn btn-primary" />
                                </div>
                            </form>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        *@

        <!--Modal delete-->

        <div class="custom-modal-container" id="modal-delete-container--@i" onclick="desativarModal(this)">
            <div class="content">
                <div class="modal-header">
                    <h5 class="modal-title">Tem certeza que quer deletar isto?</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>x</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form asp-action="Delete">
                        Nome:  <span>@Model.ElementAt(i).Nome</span><br />
                        <br />

                        <input type="hidden" asp-for="@Model.ElementAt(i).Id" />
                        <input type="submit" value="Deletar" class="btn btn-danger" />
                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
        @*
            <div class="modal" id="modal-delete-container--@i" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title">Tem certeza que quer deletar isto?</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span>x</span>
                            </button>
                        </div>

                        <div class="modal-body">

                            <form asp-action="Delete">
                                Nome:  <span>@Model.ElementAt(i).Nome</span><br />
                                <br />

                                <input type="hidden" asp-for="@Model.ElementAt(i).Id" />
                                <input type="submit" value="Deletar" class="btn btn-danger" />
                            </form>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        *@
    }

    <script src="../assets/js/core/jquery.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/material-dashboard.js?v=2.1.0"></script>
    <script type="text/javascript">
        $("document").ready(function () {
            $("#tblIndex").DataTable({
                responsive: true,
                searching: true,
                ordering: true,
                "lengthMenu": [[5, 10, -1], [5, 10, "All"]],
                "language": {
                    url: "//cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json"
                }
            });
        });
    </script>
</body>

