@model IEnumerable<Controle_Ativos.ViewModel.ClienteViewModel>

@{
    ViewData["Title"] = "Lista de Clientes";
}
<link href="~/css/jquery.dataTables.css" rel="stylesheet" />

@section Scripts{
    @*<script src="~/js/Datagrid/datatables.bundle.js"></script>*@
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

}
<head>
    <title>
        Lista Clientes
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!-- CSS Files -->
    <link href="../assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h3 class="card-title ">Lista Clientes</h3>
                        <p>
                            <a type="button" class="btn btn-primary" asp-action="Create">Novo Registro</a>
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tblIndex" class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Nome)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count(); i++)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.ElementAt(i).Nome)
                                            </td>
                                            <td>
                                                <a class="button" data-toggle="modal" data-target="#modal-edit-container--@i" asp-action="Edit" asp-route-id="@Model.ElementAt(i).Id">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <a class="button" data-toggle="modal" data-target="#modal-details-container--@i" asp-action="Details" asp-route-id="@Model.ElementAt(i).Id">
                                                    <i class="material-icons">plagiarism</i>
                                                </a>
                                                <a class="button" data-toggle="modal" data-target="#modal-delete-container--@i" asp-action="Delete" asp-route-id="@Model.ElementAt(i).Id">
                                                    <i class="material-icons">delete</i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    @for (int i = 0; i < Model.Count(); i++)
    {
        <div class="modal" id="modal-details-container--@i" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Detalhes</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>x</span>
                        </button>
                    </div>               
                    <div class="modal-body">
                        <h4>Cliente:</h4>
                        @for (int j = 0; j < Model.Count(); j++)
                        {
                            <span>@Model.ElementAt(j).Nome</span>
                            <br />
                        }
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal edit-->

        <div class="modal" id="modal-edit-container--@i" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Detalhes</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>x</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        @for (int j = 0; j < Model.Count(); j++)
                        {
                            <span>@Model.ElementAt(j).Nome</span>
                        }
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal delete-->

        <div class="modal" id="modal-delete-container--@i" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Detalhes</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>x</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        @for (int j = 0; j < Model.Count(); j++)
                        {
                            <span>@Model.ElementAt(j).Nome</span>
                        }
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <script src="~/assets/js/core/jquery.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/assets/js/material-dashboard.js?v=2.1.0"></script>
    <script type="text/javascript">
        $("document").ready(function () {
            $("#tblIndex").DataTable({
                responsive: true,
                searching: true,
                ordering: true,
                "lengthMenu": [[5, 10, -1], [5, 10, "All"]],
                "language": {
                    url: "//cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json"
                }
            });
        });
    </script>
</body>
