@model IEnumerable<Controle_Ativos.BLL.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@section Scripts{
    <script src="~/js/Datagrid/datatables.bundle.js"></script>

    <script type="text/javascript">
        $("document").ready(function () {
            $("#tblIndex").DataTable({
                responsive: true,
                searching: true,
                ordering: false,
                "lengthMenu": [[5, 10, -1], [5, 10, "All"]],
                "language": {
                    url: "../../lib/datatables/locale/pt-br.js"
                }
            });
        });
    </script>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="tblIndex" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
