@model IEnumerable<Controle_Ativos.ViewModel.PatrimonioViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAquisicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPatrimonio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPatrimonio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAquisicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPatrimonio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPatrimonio.Descricao)
            </td>
            <td>
                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">
                    <i class="material-icons">edit</i>
                </a>
                <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">
                    <i class="material-icons">plagiarism</i>
                </a>
                <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
